.container{
  width: 600px;
}

.form-select {
  width: 200px;
  height: 38px;
  font-weight: bold;
  color: rgb(95, 95, 95);
  cursor: pointer;
}

.form__btn {
  width: 200px;
  height: 38px;
  font-weight: bold;
}

.form__input {
  font-weight: bold;
  cursor: pointer;
}

.wrappper__form {
  margin-top: 100px;
  position: relative;
}

.wrapper__massage {
  margin-top: 30px;
  text-align: center;
  font-weight: bold;
  color: rgb(72, 72, 72);
}

.label {
  position: absolute;
  left: 135px;
  font-weight: bold;
  color: rgb(105, 105, 105);
  text-transform: capitalize;
  font-size: 18px;
  padding: 0 5px;
  pointer-events: none;
} 

.form__input:focus ~ label {
  top: -14px;
  background-color: #fff;
}